* {
    box-sizing: border-box; 
    /* Always apply this on * since this will reset the builtin padding/margins */
}

body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;

}

.container {
    display: flex;

}


.leftSection {
    flex-direction: column;
    gap: 10px;
    padding: 50px 100px 50px 50px;
    
}
.logoSection {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.brandLogo {
    height: 50px;
}

.brandName {
    font-size: 50px;
    font-weight: 900;
    padding-left: 10px;;
}



.searchbox {
 padding: 10px;
 height: 30px;
 border-radius: 10px;
 border: gray 1px solid;
 width: 100%;
}



input::placeholder, input {
    font-family: 'Montserrat', sans-serif;
}


.category {
    font-weight: 400;
}

.priceValue {
    font-weight: 800;
    font-size: smaller;
}

.priceRange {
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.rangeBtn {
    width: 100%;
}


.cats {
    padding-left:  0;
    
}

li {
    list-style: none;
    padding-bottom: 20px;
}
li:hover, .bookTitle:hover {
    color: orangered;
    font-weight: bold;
    cursor: pointer;

}

.max {
    font-weight: 500;
    font-size: 20px;
}

.range {
    
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-items: center;

}


.productContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 200px;
    height: 400px;
    text-align: center;
    padding-top: 50px;
}



.author {
    font-size: smaller;
}
    

.bookPrice, .bookTitle {
    font-weight: bold;
}

.productImg {
    width: 150px;
    height: 200px;
    object-fit: cover;
}

.productImg:hover {
    transform: scale(1.2);
    transition: 0.2s ease-in-out;
}

.lowerProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    gap: 10px;

}